{%- assign timestamp = site.time | date: '%s' -%}
<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?' | append: timestamp }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" />
  <script src="{{site.static}}/assets/js/jquery.slim.min.js?{{ timestamp }}"></script>
  <script src="{{site.static}}/assets/js/bootstrap.bundle.min.js?{{ timestamp }}"></script>

  <script src="/assets/js/main.js?{{ timestamp }}"></script>
  <script src="{{site.static}}/assets/js/fontawesome.min.js?{{ timestamp }}"></script>

</head>
