{%- assign timestamp = site.time | date: '%s' -%}
<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?" | append: timestamp | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" />
  <script src="https://billyprime.nyc3.cdn.digitaloceanspaces.com/assets/js/jquery.slim.min.js?{{ timestamp }}"></script>
  <script src="https://billyprime.nyc3.cdn.digitaloceanspaces.com/assets/js/bootstrap.bundle.min.js?{{ timestamp }}"></script>

  <script src="{{ "/assets/js/main.js?" | append: timestamp | relative_url }}"></script>
  <script src="https://billyprime.nyc3.cdn.digitaloceanspaces.com/assets/js/fontawesome.min.js?{{ timestamp }}"></script>

</head>
