{%- assign details = site.models | where: "slug", model | first -%}

{%- assign related = site.photos | where_exp: "item", "item.weight != 0"
  | concat: site.posts | sort: 'weight'
  | where_exp: "item", "item.models contains model"
  | where_exp: "item", "item.url != page.url"
-%}

{% if related.size > 0 %}

<aside class="related-pages">
  <header>
    More content featuring <a href="{{ details.url }}">{{ details.title }}</a>:
  </header>

  <section class="model-features thumbnails">
    {%- for relation in related -%}
      {% assign trail = relation.image | slice: -2,2 %}
      {% assign cls = '' %}
      {% if trail == '?w' %}{% assign cls = 'landscape'%}{% endif %}
      <article class="thumbnail {{ cls }}">
        <header class="thumbnail-header">
          <h3 class="title">
            <a href="{{ relation.url }}">{{ relation.title }}</a>
          </h3>
          {% if relation.category == 'photo' %}
            <img src="https://static.billyprime.com/assets/images/icons/camera-retro.svg" class="icon" alt="Category: Photography" title="Photography">
          {% elsif relation.category == 'drawing' %}
            <img src="https://static.billyprime.com/assets/images/icons/pen-nib.svg" class="icon" alt="Category: Drawing" title="Drawing">
          {% else %}
            <img src="https://static.billyprime.com/assets/images/icons/paragraph.svg" class="icon" alt="Category: Writing" title="Writing">
          {% endif %}
        </header>
        <a href="{{ relation.url }}" class="contained-photo">
          <img src="{{site.static}}{{relation.url}}/{{relation.image}}"/>
        </a>
      </article>
    {%- endfor -%}
  </section>

</aside>
{% endif %}
