---
---

/* Global Declarations */
$web-fonts-protocol: null;
$web-fonts-params: null;

@import "includes/variables";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
// @import "includes/bootstrap_customization";

@import "includes/web-fonts-local";
@include web-fonts(
  ("Quicksand", "quicksand", (400, (400, italic))),
  ("Poppins", "poppins", (600, 900))
);

@import "partials/navbar";
@import "partials/about";
@import "partials/photos";
@import "partials/gallery";
@import "partials/model";

@import "custom/unfathomable";
@import "custom/lux";

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $black;
  color: $white;
  font-family: $main-font-stack;
  @extend %font-normal;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $accent-font-stack;
  color: $dark;
  @extend %font-normal;
  a {
    color: inherit;
  }
}

h1 {
  text-transform: uppercase;
}

h3 {
  font-size: 1.3rem;
}

.subtitle {
  border-bottom: 3px solid $dark;
  margin-bottom: 2rem;
}

p:last-child {
  margin-bottom: 0;
}

input {
  font-family: $main-font;
  @extend %font-normal;
  font-size: .85em;
}

a {
  color: $link-color;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 140vh;
  object-fit: contain;
}

.icon {
  height: 20px;
  filter: invert(20%) sepia(20%);
}

strong {
  @extend %bold;
}

hr {
  margin-top: 0;
  border-top: 3px solid lighten($dark, 30%);
  width: 80%;
}

blockquote {
}

.print-only {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.content {
  @extend .container;
  @extend %standard-padding;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  min-height: 70vh;

  background: $light;
  color: $black;

  & > header {
    margin-bottom: 1rem;
  }
}

.hide {
  display: none;
}

.category-list {
  margin-bottom: 3rem;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  a {
    background-color: $dark;
    color: $light;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: lighten($dark, 20%);
    }
  }
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0.5rem;
  list-style: none;
  background-color: darken($light, 10%);
  border-radius: 5px;


  li {
    flex-grow: 0;
    margin-right: 0.5rem;
    &:not(:last-child)::after {
      content: " > ";
    }
  }
}

/*
.icon.cat-drawing {
  @extend .fa-pencil;
}
.icon.cat-photography {
  @extend .fa-camera;
}
*/