.taxonomy-model {
	.nav-title {
		display: block;
	}

	h1 {
		margin-bottom: 2rem;
	}

	h2 {
		@extend %standard-underline;
		width: 100%;
	}

	.title {
		display: inline-block;
		margin-right: 0.5rem;
	}

	.model-website {
	}

	.model-items {
		display: block;
		float: left;
		clear: both;
		width: 100%;
		margin-bottom: 2rem;

		a {
			@extend %inactive-link;
			.title {
				@extend %active-link;

			}
		}
	}
}

.about-model {
	display: flex;
  margin-bottom: 2rem;

	@media (min-width: $breakpoint-md) {
		flex-direction: row;
	}

	p {
		margin-top: 0;

	}
}

.feature-photo {
	margin-right: 2rem;
	@media (min-width: $breakpoint-md) {
		width: 30vw;
	}
	@media (max-width: $breakpoint-md) {
		height: 50vw
	}
}
