/**
 * Navbar
 */

.navbar {
  @extend .container;
  @extend %standard-padding;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1;

  font-family: $accent-font-stack;

  background: $dark;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-md) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
  }

  a {
    color: $white;
    border-bottom: none;
    text-decoration: none;
  }

  .navbar-toggle {
    border: 1px solid $white;
    .icon-bar {
      background-color: $white;
    }
  }
}

.navbar .navbar-container {
  display: flex;
  align-items: stretch;
  position: relative;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $breakpoint-md) {
    font-size: 0.75rem;
    flex-direction: column;
  }
}

.nav-item {
  @media (min-width: $breakpoint-md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: $breakpoint-md) {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
  }
}

/* Heading */
.navbar-brand {
  position: absolute;
  top: -0.25rem;
  left: calc(50% - 5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1;
  padding: 7px;
  background: $dark;
  overflow: hidden;

  .page-home & {
    @media (min-width: $breakpoint-md) {
      font-size: 3rem;
    }
  }

  // -webkit-text-stroke: 3px $dark;
  // -webkit-text-fill-color: $main-background;

  // @include media-breakpoint-up(md) {
  //   font-size: 1rem;
  //   -webkit-text-stroke: 2px $dark;
  //   -webkit-text-fill-color: $main-background;
  // }
  text-decoration: none;
  &:hover {
    text-decoration: none;
    border-bottom: 0px solid transparent;
  }

  &-first {
    font-size: 0.75em;
    letter-spacing: 2.4em;
    margin-right: -2.4em;
  }

  &-second {
    font-size: 3em;
    line-height: 0.75;
  }
}

.page-home {
  .navbar-container {
    height: 3em;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}

@media (min-width: $breakpoint-md) {
  .page-home {
    .content {
      padding-top: 5rem;
    }
    .navbar-container {
      height: 5em;
    }
    .navbar-brand {
      font-size: 3rem;
    }
  }
}
@media (max-width: $breakpoint-md) {
  .page-home {
    .content {
      padding-top: 2.5rem;
    }
  }
}

.nav-link {
  padding: 0.125rem;
  margin-right: 0.25rem;
  &:first-child {
    margin-left: -0.125rem;
  }
  @extend %header-decoration;
}

.navbar-toggler {
  padding: 0.5rem 0.25rem 0rem;
}

.navbar-toggler-icon {
  color: $white;
}

.nav-pages {
  flex-grow: 1;
}

.nav-social {
  a {
    margin-left: 1rem;
    transition: all 0.25s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
  img {
    height: 24px;
    filter: invert(100%);
  }

  // margin-left: auto !important;

  // .icon {
  //   margin-right: 0.5rem;
  // }
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}
