---
layout: root
---
{%- if page.category -%}
  {%- assign posts = site.categories[page.category] -%}
{%- else -%}
  {%- assign posts = site.posts -%}
{% endif -%}

<!-- category.html -->
<article>
  <header>
    {% if page.title == "Blog" %}
      <h1>Blog</h1>
    {% else %}
      <h1>Blog – {{ page.title | replace: "-", " " }}</h1>
      <nav aria-label="breadcrumb" class="breadcrumb-container">
        {% include breadcrumbs.html path=page.path title=page.title %}
      </nav>
    {% endif %}
  </header>

  <section>
    {{ content }}
  </section>

  {% if page.title == "Blog" %}
    <h2>Categories</h2>
    <ul class="category-list">
      {% for cat in site.categories %}
        {%- assign name = cat[0] -%}
        <li class="cat-{{ name }}">
          <!--span class="icon cat-{{ name }}"></span-->
          <a href="{{ name | slugify | append: '/' | prepend: '/blog/' | relative_url }}">{{ name | capitalize }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if page.title == "Blog" %}
    <h2>All Posts</h2>
  {% endif %}

  <section class="blog-list">
    {% for post in posts %}
      {%- include summary.html -%}
    {% endfor %}
  </section>

</article>
