---
layout: root
---
<!-- model.html -->
<article class="post-single model">

  <header class="page-header">
    <h1>{{ page.title | escape }}</h1>
  </header>

  <section class="about-model">

    {% if page.feature %}
      <img src="{{ page.feature }}" class="feature-photo">
    {% endif %}

    <div class="model-content">
      {% if page.content %}
          {{ page.content }}
      {% endif %}

      {% if page.website %}
        <p>
          <a href="{{ page.website }}">Website</a>
        </p>
      {% endif %}
    </div>
  </section>



  <section class="photo-models">
    {%- assign model = page.slug -%}
    {%- include model-summary.html -%}
  </section>
</article>