<!DOCTYPE html>
<html lang="{{ page.lang |default: site.lang | default: "en" }}">

<!--
     ...     ..        .         .       .                     ....      ..                    .
  ."*8888x&H"?88h.    @88>  '.d88"  '.d88"   ..              +^""888h..88888h                 @88'
 '8  '8888H  '8888    %8P   5888R   5888R   @L              8X.  ?8888X  8888f     .u    .    %8P     ..    .     .
'88h. `8888    888L    .    '888R   '888R  9888i   .dL     '888x  8888X   8888~  .d88B :@8c        ""888: x888  x888.       .u
'8888 '8888    "88'  .@88u   888R    888R  `Y888k '888.    '88888 8888X   "88x:  "8888f8888r .@88u  `8888~'888X`?888f`   ud8888.
 `888 '8888.xH888x.  '888E   888R    888R    888E  888I     `8888 8888X   8888x.  4888 '888" '888E   X888  888X '888>  :888'8888.
   8" :88*~  `*8888'  888E   888R    888R    888E  888I       `*` 8888X   8888X   4888  '     888E   X888  888X '888>  d888   88%"
 ~"   !"`      "888'  888E   888R    888R    888E  888I      ~`...8888X   88888   4888        888E   X888  888X '888>  8888.+88E'
  .H8888h.      ?88   888E   888R    888R    888E  888I       x8888888X   Y8%8"  .d888L       888E   X888  888X '888>  8888L
 :"^"88888h.    '!    888&  .888B   .888B   x888N88888'      '%"*8888888hY"88"   ^"8888"      888&  "*88%  *88" '888!` '8888c. .8'
 ^    "88888hx.+"     R888  ^*888%  ^*888%   "88"  888       ~    888888YY!'        "Y"       R888"   `~    "    `"`    "888888%'
        ^"**""         ""     "%      "%           88F            X888&""                      ""                         "YP'
                                                  98"             `88E
                                                ./"                88E
                                               ~`                  8"'
-->

  {%- include head.html -%}

  <body class="page-{{page.title | slugify }}">

    {%- include header.html -%}

    <div class="container content">
        {{ content }}
    </div>

    {%- include footer.html -%}

  </body>

</html>
